#pixels-configuration .window-content {
    background: rgb(13 13 13 / 90%);
    color: white;
    padding: 1rem;
}

#pixels-configuration form,
#pixels-configuration #devices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#pixels-configuration figure {
    margin: 0;
}

#pixels-configuration h2 {
    border-top: 1px solid #64646e;
    border-bottom: 1px solid #64646e;
    font-size: var(--font-size-16);
    text-align: center;
    margin: 0;
    padding: 0.5rem
}

#pixels-configuration #connected-devices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#pixels-configuration .pixel.flexrow {
    gap: 0.5rem;
    flex-wrap: nowrap;
    align-items: center;
}

#pixels-configuration .pixel.flexrow h3 {
    border: none;
    margin: 0;
    font-size: var(--font-size-14);
    font-weight: bold;
}

#pixels-configuration .pixel.flexrow span {
    flex: none;
}

#pixels-configuration .pixel.inactive {
    color: #9999a6;
}

#pixels-configuration footer {
    gap: 1rem;
}

#pixels-configuration button {
    background: #151518;
    border: 1px solid #000;
    color: white;
}
